body {
	font-family: sans-serif;
	margin: 0px;
}

#header {
	background: #dc0067;
	padding-left: 10px;
}

#header a{
	display: block;
	padding: 8px;
	color: #fff;
	text-decoration: none;
}

#content {
	padding-left: 20px;
}

#footer {
	clear: both;
	padding: 0px 20px 16px;
        margin-bottom: 300px;
}

h1 {
	margin-top: 0;
	font-size: 1em;
        width: 66%;
}

h2 {
	font-size: 1.1em;
	font-weight: normal;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: #222;
}

a:hover {
	text-decoration: underline;
}

table.summary th {
	width: 300px;
	font-weight: normal;
	text-align: left;
}

table.summary tr.even {
	background: #eeeeee; 
}

table.summary tr.odd {
/*	background: #cccccc; */
}

table.summary td {
	width: 50px;
	text-align: left;
}

img {
	border: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	margin-left: 10px;
}

hr {
	height: 0;
	border: 0;
	margin-bottom: 0;
	border-top: 1px solid #000;
}

.point {
	cursor: pointer;
}

.small {
	font-size: 0.7em;
}

.warn {
	font-weight: bold;
	color: #D50100;
}

.graphs {
	overflow: hidden;
}

.graphs img {
	margin: 0 5px 12px 0;
	vertical-align: top;
}

.plugins {
	float: left;
	margin-right: 25px;
}

.plugins ul > li:first-of-type {
	display: block;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px dotted #ddd;
}

.selected:link, .selected:visited, .selected:active {
	font-style: italic;
	color: #4D79B5;
}

.time-range li {
	display: inline-block;
	margin-bottom: 0.3em;
}

fieldset {
	margin-top: 20px;
	padding: 0;
	border: 0;
}

legend {
	padding: 0;
	font-size: 1.4em;
	font-weight: normal;
}

.warn {
	color: darkorange;
	font-weight: normal;
	text-shadow: 0 0 1px darkorange;
}
.crit {
	color: red;
	font-weight: normal;
	text-shadow: 0 0 1px red;
}

/* for json based overview */

div.detail {
    width: 320px;
    min-width: 320px;
    position: absolute;
    left: -355px;
    top: 0;
    background-color: #eeeeee;
    background-color: rgba(255, 255, 255, 0.95);
    display: none;
    padding: 15px;
    z-index: 10;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.75);
}

.summary .container {
    position: relative;
}

div.detail ul {
    margin: 0;
}

div.detail ul li {
    margin-left: 0;
}

div.detail ul li > label {
    float: left;
    font-weight: bold;
    width: 150px;
    min-width: 150px;
}

div.detail legend {
    font-size: 70%;
    font-style: italic;
    margin: 10px 0 0 0;
}

#totals {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 10px;
    color: #ffffff;
}
